/*                                           */
/* A creation by N💖TIAKO                   */
/* Codepen link: https://codepen.io/NTIAKO  */
/* GitHub link: https://github.com/ntiako1 */
/*                                        */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
    scroll-behavior: smooth;
    font-size: 1em;
}
  
:root {
    --t: #fff;
    --t2: #1F2A3D;
    --bg: #333;
    --bg2: #A29655;
}

body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--bg);
}

.card {
    color: var(--t);
    background: #635b2e;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-radius: 5%;
}

h2 {
    font-size: 2em;
    margin: 5%;
    width: max-content;
}

.content-card {
    display: flex;
    flex-direction: column;
    padding: 10%;
    padding-bottom: 0;
}

label {
    font-size: 1.2em;
}

input {
    margin-bottom: 5%;
    padding: 5%;
    background-color: var(--bg2);
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    padding: 3%;
}

input::placeholder {
    color: var(--t);
    font-size: 0.8em;
}

input:focus {
    color: var(--t);
    outline: none;
}

input[type=password] {
    margin-bottom: 30%;
}

input[type=submit] {
    background-color: var(--t2);
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
    color: var(--t);
    margin-bottom: 10%;
    cursor: pointer;
}

a {
    color: var(--t);
}